<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head::head"></head>

<body>

<div class="container">
  <h2 class="text-center text-white">Add Student to the motorcycling course</h2>
  <form th:action="@{/students/add}"
        th:method="post"
        th:object="${studentModel}"
        class="main-form mx-auto col-md-8">

    <div class="form-group">
      <label class="text-white font-weight-bold" for="name">Name</label>
      <input
          th:field="*{name}"
          th:errorclass="is-invalid"
          name="name"
          id="name"
          type="text"
          class="form-control"
          placeholder="Name"/>
      <p class="errors alert alert-danger invalid-feedback">
        Name is required and should be between 5 and 50 characters.
      </p>
    </div>

    <div class="form-group">
      <label class="text-white font-weight-bold" for="birthday">Birthday</label>
      <input
          th:field="*{birthday}"
          th:errorclass="is-invalid"
          name="birthday"
          id="birthday"
          type="date"
          class="form-control"
          placeholder="Name"/>
      <p class="errors alert alert-danger invalid-feedback">
        Valid birthday is expected and the student should be adult.
      </p>
    </div>

    <div class="form-group">
      <label class="text-white font-weight-bold" for="email">Email</label>
      <input
          th:field="*{email}"
          th:errorclass="is-invalid"
          name="email"
          id="email"
          type="text"
          class="form-control"
          placeholder="Email"/>
      <p class="errors alert alert-danger invalid-feedback">
        Valid email is expected.
      </p>
    </div>

    <div class="form-group">
      <label class="text-white font-weight-bold" for="sex">Sex</label>
      <select
          th:errorclass="is-invalid"
          name="sex"
          id="sex"
          class="form-control">
          <option value="">- Select sex -</option>
          <option th:each="s : ${T(bg.softuni.validation.model.SexEnum).values()}"
                  th:text="${s}"
                  th:value="${s}"
                  th:selected="${s} == *{sex}">
            MALE/FEMALE
          </option>
      </select>

      <p class="errors alert alert-danger invalid-feedback">
        Sex is expected.
      </p>
    </div>

    <div class="row">
      <div class="col col-md-4">
        <input type="submit" class="btn btn-info btn-lg" value="Enroll"/>
      </div>
    </div>

  </form>
</div>

<div>
  <footer></footer>
</div>

</body>
</html>
