<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

  <h1>All cats</h1>

  <div th:each="c : ${cats}" th:object="${c}">
    Name: <em th:text="*{name}"></em>
    Age: <em th:text="*{age}"></em>
    <a th:href="@{/cats/{id}(id=*{id})}">Details</a>
  </div>


  <a th:href="@{/cats/new}">Create new cat</a>
</body>
</html>
